<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="services-flow">
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-bag"></span>
                        </div>
                        <div class="text">
                            <h3>Miễn phí vận chuyển</h3>
                            <p class="mb-0">Mua sắm và tiết kiệm với dịch vụ miễn phí vận chuyển của chúng tôi</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-heart-box"></span>
                        </div>
                        <div class="text">
                            <h3>Quà tặng có giá trị</h3>
                            <p class="mb-0">Tạo niềm vui và ấn tượng với quà tặng đáng giá</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-payment-security"></span>
                        </div>
                        <div class="text">
                            <h3>Thanh toán an toàn</h3>
                            <p class="mb-0">An tâm mua sắm với phương thức thanh toán bảo mật</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="text">
                            <h3>Hỗ trợ 24/7</h3>
                            <p class="mb-0">Hỗ trợ khách hàng nhanh chóng và hiệu quả</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="heading-section ftco-animate mb-5">
                    <h2 class="mb-4">Nhận xét từ khách hàng</h2>
                    <p>Một vài trải nghiệm thú vị của khách hàng!</p>
                </div>
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_1.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Trải nghiệm mua sneaker trực tuyến tuyệt vời! Sản phẩm tốt và giao hàng nhanh chóng. Dịch vụ khách hàng tuyệt vời!</p>
                                <p class="name">Nguyễn Đăng Khoa</p>
                                <span class="position">Tay đấm boxing</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_2.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Mua giày sneaker trực tuyến tại website này rất thuận tiện và dễ dàng. Sản phẩm chất lượng và giá cả phải chăng.</p>
                                <p class="name">Trần Anh Phú</p>
                                <span class="position">Thợ sửa ống nước</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_3.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Trải nghiệm mua giày sneaker trực tuyến tuyệt vời. Đơn hàng được xử lý nhanh chóng và giao hàng đến tận nhà trong thời gian ngắn.</p>
                                <p class="name">Nguyễn Hoàng Phúc</p>
                                <span class="position">Giảng viên thể dục</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_4.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Rất hài lòng với việc mua giày sneaker trực tuyến tại website này. Sản phẩm chất lượng tốt và giá cả hợp lý.</p>
                                <p class="name">Trần Tha Tùng</p>
                                <span class="position">Tay đua hạng nặng</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_5.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Mua giày sneaker trực tuyến trên website này rất dễ dàng và tiện lợi. Sản phẩm đẹp và chất lượng tốt.</p>
                                <p class="name">Trần Minh Hiếu</p>
                                <span class="position">Thợ xăm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>