@model Sneaker.Models.SanPham

@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<br />
<h2 style="text-align:center;font-weight:bold">Thêm sản phẩm</h2>
@using (Html.BeginForm("ThemSanPham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row" style="width:100%">
            <div class="col-md-7">
                <h5 style="font-weight:bold;padding-left:120px;padding-bottom:5px">Tên sản phẩm</h5>
                <div class="col-md-6" style="padding-left:120px">
                    @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <h5 style="font-weight:bold;padding-bottom:5px;padding-left:30px">Ảnh đại diện</h5>
                <div style="padding-left:30px">
                    <input id="file" type="file" name="fileupload" class="form-control"/>
                    @*@Html.ValidationMessageFor(model => model.AnhDD, "", new { @class = "text-danger" })*@
                    @ViewBag.Thongbao
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="width:100%">
            <div class="col-md-7">
                <h5 style="font-weight:bold;padding-left:120px;padding-bottom:5px">Đơn giá</h5>
                <div class="col-md-4" style="padding-left: 120px">
                    @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="width:100%">
            <div class="col-md-7">
                <h5 style="font-weight:bold;padding-left:120px;padding-bottom:5px">Mô tả</h5>
                <div style="padding-left: 120px">
                    @*@Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })*@
                    @*<textarea class="form-control" name="NoiDung" id="inputNoiDung"></textarea>*@
                    @Html.TextAreaFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <h5 style="font-weight:bold;padding-bottom:5px;padding-left:30px">Thương hiệu</h5>
                <div style="padding-left: 30px">
                    @Html.DropDownList("MaThuongHieu")
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="width:100%">
            <div class="col-md-7">
                <a style="font-weight:bold;color:black;padding-left:120px" href="@Url.Action("SanPham","Admin")"><i class="fa fa-arrow-left"> Trở lại</i></a>
            </div>
            <div class="col-md-5">
                <div class="col-md-offset-2 col-md-10" style="padding-left: 30px">
                    <button style="font-weight: bold; color: black " type="submit"><i class="fa fa-save"> Thêm</i></button>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section DoanJS{
    <script>
        CKEDITOR.replace('MoTa')
        function upload() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#link').val(fileUrl);
            }
            finder.popup();
        }
    </script>
    }




